# JOIN

In [12]:
import sys
import sqlite3
sys.path.append('tests')
from test_join import *

In [ ]:

conn = sqlite3.connect('consultoria.db')

conn.execute("DROP TABLE IF EXISTS projetos")
conn.execute("DROP TABLE IF EXISTS clientes")
conn.execute("DROP TABLE IF EXISTS consultores")
conn.execute("DROP TABLE IF EXISTS feedbacks")
conn.execute("DROP TABLE IF EXISTS alocacoes")

conn.execute("PRAGMA foreign_keys = ON;")

print("‚úÖ Conectado ao banco de dados 'consultoria.db'")
print("‚úÖ Chaves estrangeiras habilitadas")

backup_conn = None

def backup_db():
    """Cria um backup do banco em mem√≥ria"""
    global backup_conn
    backup_conn = sqlite3.connect(':memory:')
    conn.backup(backup_conn)
    print("üìÅ Backup criado")

def restore_db():
    """Restaura o banco a partir do backup"""
    global backup_conn
    if backup_conn:
        backup_conn.backup(conn)
        print("üîÑ Banco restaurado do backup")
    else:
        print("‚ùå Nenhum backup dispon√≠vel")

def validate_and_execute(query, test_function):
    """Valida query em ambiente isolado antes de executar no banco principal"""
    if not query or not query.strip():
        print("‚ùå Query vazia! Escreva sua query SQL antes de executar.")
        return False
    
    backup_db()
    
    try:
        test_conn = sqlite3.connect(':memory:')
        test_conn.execute("PRAGMA foreign_keys = ON;")
        
        for linha in conn.iterdump():
            if not linha.startswith('BEGIN') and not linha.startswith('COMMIT'):
                try:
                    test_conn.execute(linha)
                except:
                    pass  
        

        test_conn.execute(query)
        test_conn.commit()

        conn.execute(query)
        conn.commit()
        
        success = test_function(conn)
        
        if success:
            print("‚úÖ Query executada e validada com sucesso!")
            return True
        else:
            restore_db()
            print("üí° Query executada mas resultado incorreto. Banco restaurado, tente novamente!")
            return False
            
    except Exception as e:
        print(f"‚ùå Erro na query: {str(e)}")
        print("üí° Corrija a sintaxe e tente novamente!")
        return False
    finally:
        if 'test_conn' in locals():
            test_conn.close()

def test_and_rollback(test_function):
    """Mantido para compatibilidade - executa teste simples"""
    success = test_function(conn)
    if not success:
        print("üí° Execute a query correta primeiro!")
    return success

def validate_and_execute_inserts(insert_queries, test_function):
    """Valida e executa m√∫ltiplas queries INSERT com rollback autom√°tico"""
    if not insert_queries or not insert_queries.strip():
        print("‚ùå Queries vazias! Escreva seus INSERTs antes de executar.")
        return False
    backup_db()
    
    try:
        queries = [q.strip() for q in insert_queries.strip().split(';') if q.strip()]
        
        if not queries:
            print("‚ùå Nenhuma query v√°lida encontrada!")
            return False
        
        for query in queries:
            conn.execute(query)
        conn.commit()

        success = test_function(conn)
        
        if success:
            print("‚úÖ Dados inseridos e validados com sucesso!")
            return True
        else:
            restore_db()
            print("üí° Dados inseridos mas resultado incorreto. Banco restaurado, tente novamente!")
            return False
            
    except Exception as e:
        restore_db()
        print(f"‚ùå Erro ao inserir dados: {str(e)}")
        print("üí° Corrija a sintaxe e tente novamente!")
        return False

print("\nüõ†Ô∏è Sistema de backup/restore configurado!")
print("Agora vamos come√ßar a criar nossas tabelas...")
def validate_and_execute_select(sql_query, test_function):
    """Valida e executa query SELECT com rollback autom√°tico"""
    if not sql_query or not sql_query.strip():
        print("‚ùå Query vazia! Escreva sua query SQL antes de executar.")
        return False
    
    backup_db()
    
    try:
        success = test_function(sql_query, conn)
        
        if success:
            print("‚úÖ Query SELECT validada com sucesso!")
            df = pd.read_sql_query(sql_query, conn)
            print("\nüìä Resultado da sua query:")
            print(df.to_string(index=False))
            return True
        else:
            restore_db()
            print("üí° Query executada mas resultado incorreto. Banco restaurado, tente novamente!")
            return False
            
    except Exception as e:
        restore_db()
        print(f"‚ùå Erro na query: {str(e)}")
        print("üí° Corrija a sintaxe e tente novamente!")
        return False

‚úÖ Conectado ao banco de dados 'consultoria.db'
‚úÖ Chaves estrangeiras habilitadas

üõ†Ô∏è Sistema de backup/restore configurado!
Agora vamos come√ßar a criar nossas tabelas...



### 1. INNER JOIN  

Retorna apenas os registros que t√™m correspond√™ncia nas duas tabelas.  

üìå **Sintaxe**:
```sql
SELECT colunas
FROM tabela1
INNER JOIN tabela2
    ON tabela1.coluna = tabela2.coluna;
```

# Agora vamos praticar!

In [ ]:
# TODO: Listar o t√≠tulo de cada projeto e o nome do cliente correspondente
# Dica: Use INNER JOIN para conectar as tabelas PROJETOS e CLIENTES
sql_inner_join_1 = """
"""

validate_and_execute_select(sql_inner_join_1, test_inner_join)

üìÅ Backup criado
‚úÖ INNER JOIN validado com sucesso! Resultado confere com o esperado.
‚úÖ Query SELECT validada com sucesso!

üìä Resultado da sua query:
       titulo        nome_cliente
        ERP I  TechCorp Solutions
 MARKETING II     Verde Agro Ltda
LOGISTICA III   FastLogistic S.A.
  EDUCACAO IV      EduCare Ensino
     VENDAS V MetalMax Ind√∫strias
FINANCEIRO VI  TechCorp Solutions

True

In [ ]:
#TODO: listar projeto, cliente e nota de todos os projetos avaliados, organizados por notas decrescente.
# Dica: Use GROUP BY para agrupar por nota e titulo
sql_inner_join_medium = """

"""
# Rodar:
validate_and_execute_select(sql_inner_join_medium, test_inner_join_medium)

üìÅ Backup criado
‚úÖ INNER JOIN (m√©dio) validado com sucesso!
‚úÖ Query SELECT validada com sucesso!

üìä Resultado da sua query:
       titulo        nome_cliente  nota
  EDUCACAO IV      EduCare Ensino     5
        ERP I  TechCorp Solutions     5
FINANCEIRO VI  TechCorp Solutions     4
 MARKETING II     Verde Agro Ltda     4
     VENDAS V MetalMax Ind√∫strias     3

True

In [ ]:
#TODO:Para cada cliente e frente (ENG/BUS/DIR), some as horas alocadas em projetos que t√™m feedback com nota ‚â• 4 
# e calcule tamb√©m a m√©dia da nota desses projetos e a quantidade de projetos distintos considerados.
# Dica: Use AVG e COUNT DISTINCT para calcular a m√©dia e a contagem de projetos distintos
sql_inner_join_hard = """

"""

validate_and_execute_select(sql_inner_join_hard, test_inner_join_hard)

üìÅ Backup criado
‚úÖ INNER JOIN (hard, sem HAVING) validado com sucesso!
‚úÖ Query SELECT validada com sucesso!

üìä Resultado da sua query:
      nome_cliente frente  total_horas  media_nota  qtd_projetos
TechCorp Solutions    ENG        210.5         4.5             2
   Verde Agro Ltda    BUS        205.5         4.0             1
    EduCare Ensino    BUS        200.0         5.0             1
TechCorp Solutions    DIR         80.0         5.0             1

True

### 2. LEFT JOIN  

Retorna **todos** os registros da tabela √† esquerda (primeira tabela) e os registros correspondentes da tabela √† direita. Se n√£o houver correspond√™ncia, retorna NULL para as colunas da tabela direita.

üìå **Sintaxe**:
```sql
SELECT colunas
FROM tabela_esquerda
LEFT JOIN tabela_direita
    ON tabela_esquerda.coluna = tabela_direita.coluna;
```

üìä **Diferen√ßa do INNER JOIN**:
- **INNER JOIN**: S√≥ registros que t√™m correspond√™ncia nas duas tabelas
- **LEFT JOIN**: Todos da esquerda + correspond√™ncias da direita (NULL se n√£o houver)

üí° **Exemplo pr√°tico**: No LEFT JOIN entre CLIENTES e PROJETOS:
- Todos os clientes aparecer√£o no resultado
- Clientes com projetos: mostram os t√≠tulos dos projetos
- Clientes sem projetos: mostram NULL na coluna titulo

In [ ]:
# TODO: Listar TODOS os consultores e seus projetos (incluindo consultores sem projetos)
# Dica: Use LEFT JOIN para garantir que todos os consultores apare√ßam


sql_left_join_1 = """

"""

# Quando terminar sua query, execute a valida√ß√£o:
validate_and_execute_select(sql_left_join_1, test_left_join)

üìÅ Backup criado
‚úÖ LEFT JOIN validado com sucesso! Todos os projetos inclu√≠dos, mesmo sem consultores.
‚úÖ Query SELECT validada com sucesso!

üìä Resultado da sua query:
       titulo nome_consultor
        ERP I      Ana Silva
        ERP I Maria Oliveira
 MARKETING II  Carlos Santos
 MARKETING II  Fernanda Lima
LOGISTICA III      Ana Silva
LOGISTICA III     Jo√£o Costa
  EDUCACAO IV  Fernanda Lima
     VENDAS V  Carlos Santos
     VENDAS V Maria Oliveira
FINANCEIRO VI      Ana Silva

True

In [ ]:
# TODO: Listar todos os clientes e seus projetos (se existirem), e ordene por nome do cliente e t√≠tulo do projeto

sql_left_join_2 = """

"""


validate_and_execute_select(sql_left_join_2, test_left_join_medium)

üìÅ Backup criado
‚úÖ LEFT JOIN (m√©dio) validado com sucesso!
‚úÖ Query SELECT validada com sucesso!

üìä Resultado da sua query:
       nome_cliente        titulo
     EduCare Ensino   EDUCACAO IV
  FastLogistic S.A. LOGISTICA III
MetalMax Ind√∫strias      VENDAS V
 TechCorp Solutions         ERP I
 TechCorp Solutions FINANCEIRO VI
    Verde Agro Ltda  MARKETING II

True

In [ ]:
# TODO: Para cada cliente, listar:
# projetos_total: n¬∫ de projetos
# projetos_com_feedback: n¬∫ de projetos que t√™m ao menos 1 feedback (qualquer nota)
# projetos_nota_ge_4: n¬∫ de projetos com nota ‚â• 4
# media_nota: m√©dia das notas dos projetos com feedback
# total_horas: soma de horas alocadas em todos os seus projetos

#Dicas:Use LEFT JOIN a partir de clientes ‚Üí projetos ‚Üí feedbacks e alocacoes
# Agrupe por cliente
# Ordene por nome_cliente ASC
# N√£o filtre clientes sem feedback (devem aparecer; media_nota pode ser NULL)

sql_left_join_hard = """

"""


# 3) rode o validador corretamente
validate_and_execute_select(sql_left_join_hard, test_left_join_hard)

üìÅ Backup criado
‚úÖ LEFT JOIN (dif√≠cil) validado com sucesso!
‚úÖ Query SELECT validada com sucesso!

üìä Resultado da sua query:
       nome_cliente  projetos_total  projetos_com_feedback  projetos_nota_ge_4  media_nota  total_horas
     EduCare Ensino               1                      1                   1         5.0        200.0
  FastLogistic S.A.               1                      0                   0         NaN        225.5
MetalMax Ind√∫strias               1                      1                   0         3.0        145.5
 TechCorp Solutions               2                      2                   2         4.5        290.5
    Verde Agro Ltda               1                      1                   1         4.0        205.5

True